@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
html,
body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	background-color: white;
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.bg__layout {
	content: "";
	width: 75vw;
	height: 70vh;
	background: linear-gradient(to top, hsl(264, 100%, 61%) 50%, hsl(293, 100%, 63%));
	position: absolute;
	top: -100px;
	left: -100px;
	border-bottom-right-radius: 30rem;
	border-bottom-left-radius: 20rem;
}
main {
	width: inherit;
	min-height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.phone {
	width: 14rem;
	height: 28rem;
	border-radius: 1.5rem;
	margin-top: 3rem;
	background-color: white;
	padding: 0.45rem;
	box-shadow: 5px 25px 50px -15px gray;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
}
.phone-container {
	background-color: hsl(270, 20%, 96%);
	height: 100%;
	width: 100%;
	border-radius: 1.5rem;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
}
.phone-header {
	background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
	width: 100%;
	height: 4.75rem;
	padding: 1.5rem 1rem 1rem 1.75rem;
	margin-bottom: 1rem;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	display: flex;
	align-items: flex-end;
	position: relative;
}

.phone-header::before {
	content: "";
	width: 65%;
	height: 23px;
	background-color: white;
	position: absolute;
	top: -5px;
	left: 40px;
	border-radius: 50px;
}
.arrow-top {
	background-color: white;
	width: 11px;
	height: 2px;
	transform: rotate(-60deg);
	position: absolute;
	top: 2rem;
	left: 10px;
	border-radius: 10px;
}
.arrow-bot {
	background-color: white;
	width: 11px;
	height: 2px;
	transform: rotate(60deg);
	position: absolute;
	bottom: 23px;
	left: 11px;
	border-radius: 10px;
}
.samuel {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
h3 {
	font-size: 0.75rem;
	font-weight: 500;
	color: white;
	margin-left: 0.7rem;
}
.sub-heading {
	font-size: 0.5rem;
	font-weight: 400;
	color: hsl(276, 100%, 81%);
	margin-left: 0.7rem;
}
.nav::before {
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	bottom: 0.35rem;
	left: 0rem;
}
.nav {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	bottom: 0.75rem;
	left: 1.5rem;
}
.nav::after {
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 0.35rem;
	left: 0rem;
}
.core {
	font-size: 8px;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.msg-received {
	color: hsl(276, 55%, 52%);
	background: hsla(276, 58%, 40%, 0.1);
	width: 70%;
	border-radius: 8px;
	line-height: 12px;
	padding: 0.3rem;
	margin-bottom: 0.4rem;
	animation: msg-animation 400ms ease-out;
}
.imgs {
	align-self: flex-end;
	margin-bottom: 0.4rem;
	animation: msg-animation 400ms ease-in;
}
.img1,
.img2,
.img3 {
	width: 30px;
	height: 30px;
	border-radius: 10px;
}

.msg-sent {
	color: hsl(271, 15%, 43%);
	background-color: white;
	width: 45%;
	border-radius: 8px;
	line-height: 13px;
	padding: 0.2rem;
	align-self: flex-end;
	margin-bottom: 0.4rem;
	animation: msg-animation 400ms ease-in;
}
/* animation for msgs */
@keyframes msg-animation {
	0% {
		transform: scale(0);
	}
	100% {
		trasnform: scale(1);
	}
}
.sent-1 {
	width: 70%;
}
.offer {
	color: hsl(270, 20%, 96%);
	background: linear-gradient(to right, hsl(293, 100%, 63%) 40%, hsl(264, 100%, 61%));
	width: 80%;
	height: 1.5rem;
	padding: 5px 20px;
	margin-bottom: 0.4rem;
	border-radius: 7px;
	border-bottom-left-radius: 4px;
	display: flex;
	justify-content: space-between;
	animation: msg-animation 400ms ease-in;
}
.price {
	font-size: 0.75rem;
	font-weight: 500;
	color: white;
}
.txt-holder {
	background-color: white;
	color: hsl(206, 6%, 79%);
	height: 1.8rem;
	border-radius: 20px;
	margin: 5px 0;
	padding: 15px 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation: text-holder-load 400ms ease-in;
}
/* animation for txt holder  */
@keyframes text-holder-load {
	0% {
		transform: scale(0);
	}
	100% {
		trasnform: scale(1);
	}
}
.submit {
	background-color: hsl(271, 36%, 24%);
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 50%;
	position: relative;
}
.submit::before {
	content: " ";
	position: absolute;
	width: 10px;
	height: 2.5px;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #fff;
	border-radius: 2px;
}
.submit::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2.5px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	background-color: #fff;
	border-radius: 2px;
}
.text {
	text-align: center;
	max-width: 40rem;
	height: 40vh;
	line-height: 27px;
	padding: 0 2rem;
	z-index: 1;
}
h1 {
	font-size: 2rem;
	font-weight: 500;
}
.text p {
	color: hsl(270, 7%, 64%);
	padding: 15px 0;
}
@media (min-width: 1024px) {
	body,
	html {
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: hidden;
		/* background-color: blue; */
	}
	main {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 5rem;
		width: 100%;

		/* background-color: green; */
	}
	.phone {
		min-width: 16rem;
		min-height: 33rem;
		margin-left: 15rem;
	}
	.phone-header::before {
		left: 43px;
	}
	.arrow-top {
		background-color: white;
		width: 11px;
		height: 2px;
		transform: rotate(-60deg);
		position: absolute;
		top: 2rem;
		left: 10px;
		border-radius: 10px;
	}
	.arrow-bot {
		background-color: white;
		width: 11px;
		height: 2px;
		transform: rotate(60deg);
		position: absolute;
		bottom: 28px;
		left: 11px;
		border-radius: 10px;
	}

	.samuel {
		width: 30px;
		height: 30px;
	}
	.nav::before {
		content: "";
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: white;
		position: absolute;
		bottom: 0.35rem;
		left: 0rem;
	}
	.nav {
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: white;
		position: relative;
		bottom: 0.75rem;
		left: 2.75rem;
	}
	.nav::after {
		content: "";
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: white;
		position: absolute;
		top: 0.35rem;
		left: 0rem;
	}
	.img1,
	.img2,
	.img3 {
		width: 45px;
		height: 45px;
		border-radius: 10px;
	}

	h3 {
		font-size: 0.8rem;
	}
	.sub-heading {
		font-size: 10px;
	}
	.core {
		font-size: 11px;
	}

	.text {
		width: 50vw;
		text-align: left;
	}
	h1 {
		font-size: 2.5rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
		font-weight: 500;
		min-width: 15rem;
	}
	.phone {
		width: 18%;
	}
	.text {
		width: 40%;
		height: 30%;
		/* z-index: 10; */
	}
	.offer {
		height: 2.2rem;
	}
	.txt-holder {
		height: 2.2rem;
	}
	.bg__layout {
		content: "";
		width: 40vw;
		height: 90vh;
		background: linear-gradient(to right top, hsl(264, 100%, 61%) 50%, hsl(293, 100%, 63%));
		top: 0px;
		left: -9.375rem;
		border-bottom-right-radius: 30rem;
		border-bottom-left-radius: 30rem;
	}
	.bg__layout2 {
		content: "";
		width: 35vw;
		height: 85vh;
		background: hsla(293, 37%, 73%, 0.1);
		position: absolute;
		bottom: 0px;
		right: -12.5rem;
		border-top-right-radius: 30rem;
		border-top-left-radius: 30rem;
	}
}
